.Products-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.Products-td-th {
    border: 2px solid black;
    text-align: left;
    padding: 15px;
}
.Products-tr {
  border: 2px solid black;
}

.Products-div {
  margin-bottom: 50px;
  margin-left: 30px;
}
